html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Metropolis;
}

._container {
  width: 100%;
  max-width: 1079px;
  margin: 0 auto;
}

.button {
  background: #2962ef;
  cursor: pointer;
  border: none;
  min-height: 40px;
  color: white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 13px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.button_text {
  background: white;
  color: #2962ef;
  padding: 0;
}

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis-Regular"), url("./fonts/Metropolis-Regular.woff2") format("woff2"), url("./fonts/Metropolis-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis-Medium"), url("./fonts/Metropolis-Medium.woff2") format("woff2"), url("./fonts/Metropolis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis-SemiBold"), url("./fonts/Metropolis-SemiBold.woff2") format("woff2"), url("./fonts/Metropolis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis-Bold"), url("./fonts/Metropolis-Bold.woff2") format("woff2"), url("./fonts/Metropolis-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis-ExtraBold"), url("./fonts/Metropolis-ExtraBold.woff2") format("woff2"), url("./fonts/Metropolis-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.footer {
  background: #232427;
  margin-top: 110px;
  padding-top: 97px;
  padding-bottom: 89px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__content-left__text {
  margin-bottom: 96px;
}

.footer__content-left__text h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__content-left__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.footer__content-left__descr p {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #d6d5df;
}

.footer__content-right__text {
  margin-bottom: 32px;
}

.footer__content-right__text h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 12px;
}

.footer__content-right__text input {
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 20px;
  width: 100%;
}

.footer__content-right__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.footer__content-right__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__content-right__icons-item {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background: #5e5c6c;
  border-radius: 100%;
}

.footer__content-right__icons-item svg {
  width: 20px;
  height: 20px;
  color: white;
}

.footer__content-right__icons > *:not(:last-child) {
  margin-right: 30px;
}

.header {
  width: 100%;
  padding: 16px 0;
}

.nav {
  width: 100%;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav ul li {
  cursor: pointer;
}

.nav__li {
  margin-right: 50px;
  color: #5e5c6c;
}

.nav__li_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav__li_block svg {
  margin-right: 8px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.nav__li_logo {
  margin-right: 565px;
  font-weight: 800;
}

.nav__li_button {
  margin-right: 0;
}

.backed {
  padding-top: 32px;
  padding-bottom: 32px;
}

.backed__text {
  margin-bottom: 45px;
}

.backed__text h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #232427;
  margin-bottom: 15px;
}

.backed__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #5e5c6c;
}

.backed__items-upp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.backed__items-upp > * {
  margin-bottom: 30px;
}

.backed__items-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.backed__items-item {
  background: #d4d6db;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
}

.backed__items-item svg {
  width: 215px;
  height: 122px;
}

.backed__items-item__content h4 {
  margin-top: 15px;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #232427;
}

.backed__items-item__content-icons svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.payment {
  background: url("./img/paymentImg.png") no-repeat top 0px right 0px;
  padding-top: 120px;
  padding-bottom: 196px;
}

.payment__content {
  max-width: 530px;
}

.payment__content-info h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.payment__content-info p {
  color: #9998a4;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 62px;
}

.payment__content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment__content-buttons svg {
  margin-left: 7px;
  width: 18px;
  height: 18px;
}

.payment__content-buttons > *:not(:last-child) {
  margin-right: 46px;
}

.payment__rating {
  margin-top: 130px;
}

.payment__rating-paragraph {
  color: #9998a4;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 25px;
}

.payment__rating-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment__rating-info__item h2 {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #232427;
}

.payment__rating-info__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #5e5c6c;
}

.payment__rating-info > *:not(:last-child) {
  margin-right: 80px;
}

.steps {
  padding-top: 99px;
  padding-bottom: 93px;
}

.steps_upp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.steps_bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.steps__item {
  background: #ffffff;
  border: 1px solid #efeff4;
  border-radius: 8px;
  padding: 60px 40px 93px 40px;
  max-width: 346px;
  margin-bottom: 50px;
}

.steps__item svg {
  width: 35px;
  height: 35px;
  margin-bottom: 61px;
}

.steps__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9998a4;
}

.steps__item h4 {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 16px;
}

.steps__item_text {
  padding: 0;
  max-width: 277px;
  border: none;
  margin-right: 87px !important;
}

.steps__item_text h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 15px;
}

.trust {
  color: #232427;
  margin-top: 110px;
  margin-bottom: 110px;
  padding: 50px 0;
}

.trust__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}

.trust__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.trust__items_upp {
  margin-top: 46px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.trust__items_bot {
  margin-top: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.trust__items-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trust__items-item svg {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.trust__items-item__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #232427;
  margin-left: 12px;
}

.trust__items-item_synthetix svg {
  width: 225px;
  height: 17px;
}

.trust__items-item_dydx svg {
  width: 64.14px;
  height: 20px;
}

.trust__items > *:not(:last-child) {
  margin-right: 69px;
}