.nav {
    width: 100%;
    ul {
        @include flexRowBetween();
        li {
            cursor: pointer;
        }
    }
    &__li {
        font-size: 14px;
        font-weight: 600;
        margin-right: 50px;
        color: $secondary;
        &_text {
            margin-right: 19px;
        }
        &_block {
            margin-right: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-right: 8px;
            }
        }
        &_logo {
            margin-right: 615px;
            font-weight: 800;
            font-size: 18px;
            line-height: 18px;
        }
    }
    &__li_button {
        button {
            font-size: 14px;
            font-weight: 400;
            min-width: 110px;
            min-height: 40px;
        }
        margin-right: 0;
    }
}
