$containerWidthLarge: 1079px;

// colors
$primary: #232427;
$secondary: #5e5c6c;
$secondaryLight: #9998a4;
$blue: #2962ef;
$white: white;

body {
    font-family: Metropolis;
}
._container {
    @include container($containerWidthLarge);
}
.button {
    cursor: pointer;
    border: none;
    min-height: 40px;
    background-color: $blue;
    color: $white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 13px 20px;
    width: max-content;
}
.button_text {
    background-color: $white;
    color: $blue;
    padding: 0;
}
