$padding: 16px;
$containerXS: 280px;
$containerSM: 443px;
$containerMD: 620px;
$containerLG: 770px;
$containerXL: 992px;
$containerWidthLarge: 1079px;

$xs: 425px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// colors
$primary: #232427;
$secondary: #5e5c6c;
$secondaryLight: #9998a4;
$blue: #2962ef;
$white: white;

body {
    font-family: Metropolis;
}

._container {
    @include container($containerWidthLarge);
}

.button {
    cursor: pointer;
    border: none;
    min-height: 40px;
    background-color: $blue;
    color: $white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: max-content;
}

.button_text {
    background: none;
    color: $blue;
    padding: 0;
}

.input {
    &__input {
        width: 96%;
        outline: none;
        border: none;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
    }

    background: #ffffff;
    border-radius: 4px;
    border: none;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 20px;
    position: relative;
    width: 100%;

    &__icon {
        cursor: pointer;
        z-index: 1;
        position: absolute;
        right: 8px;
        top: 8px;
    }
}

@media screen and (max-width: $xl) {
    ._container {
        max-width: $containerXL;
    }
}

@media screen and (max-width: $lg) {
    ._container {
        max-width: $containerLG;
    }
}

@media screen and (max-width: $md) {
    ._container {
        max-width: $containerMD;
    }
}

@media screen and (max-width: $sm) {
    ._container {
        max-width: $containerSM;
    }
}

@media screen and (max-width: $xs) {
    ._container {
        max-width: $containerXS;
    }
}