.trust {
    color: $primary;
    margin-top: 60px;
    margin-bottom: 142px;
    padding: 50px 0;
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &_upp {
            margin-top: 44px;
            justify-content: space-between;
        }
        &_bot {
            margin-top: 34px;
            justify-content: center;
        }
        &-item {
            display: flex;
            align-items: center;
            img {
                width: 30px;
                height: 30px;
            }
            &__text {
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: $primary;
                margin-left: 12px;
            }
            &_synthetix {
                img {
                    width: 224px;
                    height: 17px;
                }
            }
            &_dydx {
                img {
                    width: 64.14px;
                    height: 20px;
                }
            }
        }
    }
    &__items > *:not(:last-child) {
        margin-right: 65px;
    }
}
