.trust {
    color: $primary;
    margin-top: 110px;
    margin-bottom: 110px;
    padding: 50px 0;
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &_upp {
            margin-top: 46px;
            justify-content: space-between;
        }
        &_bot {
            margin-top: 40px;
            justify-content: center;
        }
        &-item {
            display: flex;
            align-items: center;
            svg {
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
            }
            &__text {
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: $primary;
                margin-left: 12px;
            }
            &_synthetix {
                svg {
                    width: 225px;
                    height: 17px;
                }
            }
            &_dydx {
                svg {
                    width: 64.14px;
                    height: 20px;
                }
            }
        }
    }
    &__items > *:not(:last-child) {
        margin-right: 69px;
    }
}
